
/* .App {
text-align: center;
} */
body{
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(214, 166, 61) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.user-coach{
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1rem;
  align-items: center;
  justify-content: center;
  color:white;
}
.coachCardBody, .userCardBody{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.coachImage,.userImage{
  height:100px;
  object-fit: cover;
  margin-bottom: 10px;
}
.coachCard,.userCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:350px;
  width:300px;
  background-color: black;
  border-radius: 10px;
}
.signUpTitle{
  font-size: 24px;
  font-weight: bold;
}
.CoachLoginForm,.UserLoginForm{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}
.CoachLoginForm > input,.CoachLoginForm>button,.UserLoginForm > input,.UserLoginForm>button{
  /* width:300px; */
  width:70vw;
  
}
.coach-login,.user-login{
  /* width:400px; */
  width:80vw;
  background-color: black;
  color: white;
  padding:30px;
  border-radius: 10px;
}
.LoginForm{
  display: grid;
  place-content: center;
  min-height: 100vh;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.coach-user-form{
  display: flex;
  flex-direction: column;
  width:450px;
  background-color: black;
  color: white;
  align-items: center;
  padding:20px;
  border-radius: 10px;
}
.coach-user-row{
  display: flex;
  gap:1rem;
  flex-wrap:wrap ;
 
}
.genderField{
  margin-left:0px;
}
.sign-up-form{
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
} 
.dobField{
  width:190px;
}
 

